<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="css/create_customer.css">

<body>
  <div class="login-page" id="myModal">
    <div class="form">

      <form class="login-form" method="post" id="search_customer" action="http://localhost:5000/customer_search">
        <h2 align="center" style="color:#000000 ;font-family: " Roboto", sans-serif, bold">Search Customer Details</h2>
        <p>Enter SSN ID: <input type="text" required name="id" id="id" /></p>
        <br>
        <div style="text-align: center">
          <button onclick="document.getElementById('search_customer').submit()">Search</button>
        </div>
      </form>
    </div>
  </div>
  <div id="result">
    Results will appear here!
  </div>
  <br>

  <script>
    $('.message a').click(function() {
      $('form').animate({
        height: "toggle",
        opacity: "toggle"
      }, "slow");
    });
  </script>

  <script>
    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    }


    // Toggle between showing and hiding the sidebar when clicking the menu icon
    var mySidebar = document.getElementById("mySidebar");

    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
      } else {
        mySidebar.style.display = 'block';
      }
    }

    // Close the sidebar with the close button
    function w3_close() {
      mySidebar.style.display = "none";
    }

    $("#search_customer").submit(function(e) {
      e.preventDefault();
      var search_term = $('input[name=id]').val();
      $.ajax({
        type: "POST",
        url: "{{url_for('customer_search')}}",
        data: {
          "query": search_term
        },
        success: function(response) {
          console.log('hi');
          console.log(response);
        }
      })
    });
  </script>
</body>

</html>
